:root {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    background-color: #FFF;
    background-image: url("data:image/svg+xml,<svg width='2' height='2' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'><g fill='000000' fill-opacity='0.2' fill-rule='evenodd'><path d='M5 0h1L0 6V5zM6 5v1H5z'/></g></svg>");
    --map-width: 101vw;
}
body {
    transition: opacity 1s;
}
body.showSite {
    opacity: 1;
}
body, header, main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
h1 {
    padding: 0.625rem 0;
    font-weight: bold;
    cursor: default;
    font-size: 2.625rem;
    line-height: 1.2;
    color: #333;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
aside {
    position: absolute;
    left: 50vw;
    top: 1rem;
    margin-left: calc((var(--map-width) / 2) - 3rem);
}
nav {
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    color: #000;
}
svg path {
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke: #000;
    stroke-width: 0.625rem;
    transition: all 250ms ease-in-out;
}
nav.open svg path {
    d: path("m5 5 65 65M35 35 35 35M5 70 70 5");
}
section:first-of-type {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
}
section:first-of-type::before {
    content: '';
    box-shadow: 0 0 7.8125rem #8F5922 inset;
    background: #FFFEF0;
    filter: url(#wavy2) drop-shadow(3px 3px 0.3125rem rgba(0,0,0,0.6));
    top: 0;
    bottom: 0;
    left: 0.3rem;
    right: 1rem;
    position: absolute;
}
section:last-of-type {
    padding-top: 2rem;
}
section:first-of-type img {
    grid-area: 1/-1;
    padding: 1.5rem;
    object-fit: contain;
    display: block;
    max-width: 100vw;
    filter: drop-shadow(1px 1px 2px rgba(153,101,21,0.6));
    box-sizing: border-box;
}
#municipality-image {
    transition: opacity 1s ease-in-out 0s, transform 1s ease-in-out 0s;
}
#municipality-image-result {
    transition: opacity 1.5s ease-in-out 300ms;
}
.hideImg {
    opacity: 0;
    transform: rotate(360deg) scale(0,0);
}
.showImg {
    opacity: 1;
}
input {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    border-radius: 6px;
    border-style: groove;
}
button {
    cursor: pointer;
    margin: 0.3125rem;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
button:disabled {
    cursor: default;
}
.shake {
    animation: shake 400ms 1 linear;
}
section ul {
    counter-reset: guessAmount;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
}
section li {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    height: 1.5rem;
    overflow: hidden;
    animation: grow 300ms ease-in-out;
}
section li::before {
    counter-increment: guessAmount;
    content: counter(guessAmount) '.';
    padding-right: 0.625rem;
}
section li span:nth-child(1)::before {
    content: attr(data-name);
}
section li span:nth-child(2) {
    margin-left: auto;
    padding: 0 0.625rem;
}
section li i {
    width: 1rem;
    height: 1rem;
    transform-style: preserve-3D;
    transform-origin: 50% 50%;
    font-style: normal;
}
section li i::before {
    display: inline-block;
    position: absolute;
    line-height: 1rem;
    font-size: 1.15rem;

}
section li:not(.correct) span:nth-child(2)::before {
    content: attr(data-distance)'km'
}
section li:not(.correct) i::before {
    content: '\027A4';
}
section li.correct {
    font-weight: bold;
}
section li.correct i::before {
    content: '\1F44D';
    margin-left: -2rem;
    filter: hue-rotate(90deg) saturate(90%) brightness(0.6);
}
@-o-keyframes shake {
    0% { transform: translate(1.875rem); }
    20% { transform: translate(-1.875rem); }
    40% { transform: translate(1rem); }
    60% { transform: translate(-1rem); }
    80% { transform: translate(0.5rem); }
    100% { transform: translate(0px); }
}
@-moz-keyframes shake {
    0% { transform: translate(1.875rem); }
    20% { transform: translate(-1.875rem); }
    40% { transform: translate(1rem); }
    60% { transform: translate(-1rem); }
    80% { transform: translate(0.5rem); }
    100% { transform: translate(0px); }
}
@-webkit-keyframes shake {
    0% { transform: translate(1.875rem); }
    20% { transform: translate(-1.875rem); }
    40% { transform: translate(1rem); }
    60% { transform: translate(-1rem); }
    80% { transform: translate(0.5rem); }
    100% { transform: translate(0px); }
}
@-o-keyframes grow {
    0% { height: 0; }
    100% { height: 1.5rem; }
}
@-moz-keyframes grow {
    0% { height: 0; }
    100% { height: 1.5rem; }
}
@-webkit-keyframes grow {
    0% { height: 0; }
    100% { height: 1.5rem; }
}
